@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    font-family: 'Fraunces', serif;
}
.main-navbar{
    font-family: 'Barlow', sans-serif;
}
.btn{
    font-family: 'Fraunces', serif;
}
header{
    font-family: 'Fraunces', serif;
}
.social-icon {
    position: relative;
    transition: filter 0.3s;
  }

  .social-icon:hover {
    filter: brightness(0) invert(1);
  }
